<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}", name: "Justin's website!" %></h2>
  <p class="lead">Check out out my progress at <a href="https://omegaphoenix.github.io">Github Pages</a></p>
</div>
